/oe/build/bitbake.lock
/oe/build/cache
/oe/build/downloads
/oe/build/sstate-cache
/oe/build/conf/sanity_info
/oe/build/conf/templateconf.cfg
/oe/build/conf/site.conf
*.pyc
*.pyo
*~
*.swp
*.orig
*.rej
